@import url(https://fonts.googleapis.com/css2?family=Paytone+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:800,600,400&subset=latin,latin-ext);

html.gallery {
  overflow-y: scroll;
}

body {
  position: relative;
  margin: 0;
  background-color: #151515
}

#browser {
  display: none;
  margin: 0;
  height: 100vh;
}

#browser img, #browser video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.notfound {
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Paytone One";
}

div.notfound h1 {
  font-size: 400%;
  letter-spacing: 0.5rem;
  margin: 0;
}

div.notfound p {
  font-size: 200%;
  margin: 0;
}

div.notfound p.dirs {
  margin-top: 1em;
}

a.dirs {
  text-decoration: none;
}

a.dirs:visited {
  color: inherit;
}

a.dirs:hover {
  color: #555;
}

div#title {
  display: none;
  color: white;
  padding-top: 0.5rem;
  padding-left: 10px;
  font-family : work sans, sans-serif;
  font-size: 120%;
}

div#title span.title {
  color: #ccc;
  margin-right: 1rem;
}

div#title span.date {
  color: #777;
}
