@import url(https://fonts.googleapis.com/css2?family=Paytone+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:800,600,400&subset=latin,latin-ext);

html.gallery {
  overflow-y: scroll;
}

body {
  position: relative;
  margin: 0;
  background-color: #151515;
  color: #aaa;
}

.hidden {
  display: none !important;
}

div.notfound {
  color: #333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Paytone One";
}

div.notfound h1 {
  font-size: 400%;
  letter-spacing: 0.5rem;
  margin: 0;
}

div.notfound p {
  font-size: 200%;
  margin: 0;
}

div.notfound p.dirs {
  margin-top: 1em;
}

a.dirs {
  text-decoration: none;
}

a.dirs:visited {
  color: inherit;
}

a.dirs:hover {
  color: #555;
}

/*--- header */

header {
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  justify-content: space-between;
  align-items: baseline;
}

/*--- header -> title/date */

div#title {
  color: white;
  padding-top: 0.5rem;
  font-family : work sans, sans-serif;
  font-size: 150%;
}

div#title span.title {
  color: #ccc;
  margin-right: 1rem;
}

div#title span.date {
  color: #777;
}

/*--- navigation buttons */

nav {
  display: none;
}

.nav-button {
  background-color: transparent;
  border: none;
  fill: #888;
  padding: 4px 8px 1px 8px;
  margin-top: 9px;
  border-radius: 3px;
  cursor: pointer;
}

.nav-button:hover {
  fill: #eee;
}

/*--- image browser */

#browser {
  display: none;
  margin: 0;
  height: 100vh;
}

#browser img, #browser video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  color: #ddd;
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
}

.caption {
  font-size: 133%;
  font-family : work sans, sans-serif;
  background-color: rgb(0,0,0,.5);
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
  backdrop-filter:blur(4px);
}

.caption:empty {
  display: none;
}
